
.nav-link , .navbar-brand{ color: black; cursor: pointer;}
.nav-link{font-size: 25px}
.nav-link:hover{ background: black; color: #fcd204; }
.navbar-collapse{ justify-content: flex-end;}
.navbar{background: #fcd204}
.navbar-toggler{  background: black !important; color: #fcd204;font-weight: bold}
.navbar h1{
    font-size: 25px;
}

.header{
    background: #fcd204;
}
.header h2{
    font-weight: bold;
    font-size: 4.2vw;
    font-style: italic;
}
.header h1{
    font-weight: bold;
    font-size: 5.9vw;
}
.header h3{
    font-weight: bold;
    font-size: 4vw;

}

.header .row{
    padding-top: 5em;

}

@media screen and(min-width: 567px){
    .header .row{
        size: 5.9vw;
    }
}

.blog{
    height: 800px;
}
.blog .row{
    padding-top: 11em;
    padding-bottom: 10em;


}
.blog .card{

    color: #302f32;
    font-size: 25px

}
.blog .w-100{
    height: 3em;
}

.blog2 {
    background-image: url("../img/job.jpg");


}
.job-search{
    color:black;
    font-weight: bold;
    font-size: 4em;
    background-color: #fcd204;
}
.main .row{
    vertical-align: center;
    padding-top: 11em;
    padding-bottom: 11em;
}

.main ul{
    font-size: 25px;

}

.contact .container{
    padding-top: 2em;
    padding-bottom: 2em;
}
.contact .btn{
    background: black;
    color: #fcd204;
    font-weight: bold;
}
